@model GameMiniProject.Models.aboutModel

@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@Model.Information</h2>
</hgroup>

<div>Story: @Model.aboutGame

    
</div>

