
@{
    ViewBag.Title = "Tutorial";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<p> <b>About Game:</b> @ViewBag.tutorialInfo </p>
<p> @ViewBag.controlScheme </p>

<section class="Tutorial">
    <div> 
<table class="tableTutorial">
   
   <thead>
      <tr>
         <th>Description of Control</th>
          
         <th>Keyboard Control</th>
      </tr>
   </thead>
   <tbody>
      <tr>
          
         <td>Move Left</td>
         <td>"A"</td>
              </tr>
       <tr>
          <td>Move Up</td>
         <td>"W"</td>
           </tr> 
       <tr>
          <td>Move Down</td>
         <td>"S"</td>
      </tr>
       <tr>
          <td>Move Right</td>
         <td>"D"</td>
      </tr>
       <tr>
          <td>Move North-East</td>
         <td>"W + D"</td>
      </tr>
       <tr>
          <td>Move North-West</td>
         <td>"A + W"</td>
      </tr>
       <tr>
          <td>Move South-East</td>
         <td>"D + S"</td>
      </tr>
       <tr>
          <td>Move South-West</td>
         <td>"A + D"</td>
      </tr>
        <tr>
          <td>Attack</td>
         <td>"P"</td>
      </tr>
   </tbody>
</table>
    </div>

   
</section>
